.mainFrame_lastActiviti-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    padding-bottom: 120px;
}

.mainFraim_lastActiviti-body-element:hover {
    border: solid 2px var(--small-btn-bg);
}

.mainFraim_lastActiviti-body-element {
    border: solid 2px transparent;
}

.mainFrame_lastActiviti-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.mainFrame_lastActiviti-header-alter {
    display: flex;
    justify-content: space-between;
}

.mainFrame_lastActiviti-header>div:nth-child(1) {
    font-size: 18px;
    font-weight: 400;
}

.mainFrame_lastActiviti-header>div:nth-child(2) {
    font-size: 14;
    color: var(--text-grey);
}

.mainFrame_lastActiviti-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.mainFraim_lastActiviti-body-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-body-element {
    background-color: var(--small-btn-bg);
    padding: 4px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.mainFraim_lastActiviti-body-leftcol {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.mainFraim_lastActiviti-body-leftcol>span {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 16px;
}

.mainFraim_lastActiviti-body-leftcol>span>p:nth-child(2) {
    font-size: 11px;
    font-weight: 800;
    color: var(--text-grey);
}

.activity-subs-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.active-calendar {
    padding: 8px;
    border-radius: 14px;
    background-color: var(--small-btn-bg);
}

.lastActivety-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 3%;
    z-index: 10;
    box-sizing: border-box;
}

.lastActivety-footer-btn {
    text-align: center;
}

/* Extra */
.mainFrame_header-extra:nth-child(1) {
    text-align: left;
    font-weight: 600;
    background-image: var(--main-grad);
    color: transparent;
    display: inline-block;
    width: max-content;
    background-clip: text;
    width: fit-content;
}

/*Calendar*/
.lastActivety-calendar {
    font-size: 20px;
    font-family: var(--type3) !important;
    position: absolute;
    right: 0;
    top: 50px;
    background: var(--element-bg) !important;
    border: solid 1px var(--text-grey) !important;
    border-radius: 8px;
}

.react-calendar__tile--now {
    background-color: var(--body-bg) !important;
    border: solid 1px var(--text-grey) !important;
    border-radius: 8px;
}

.react-calendar__tile {}

.react-calendar__navigation__label {
    background-color: grey !important;
    border-radius: 8px !important;
}

.react-calendar__tile:enabled:hover {
    border-radius: 8px !important;
    background-color: var(--small-btn-bg);
}

.react-calendar__tile--active:enabled:focus {
    background: var(--small-btn-bg) !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border-radius: 8px !important;
    background-color: var(--small-btn-bg) !important;
}

.react-calendar__tile--active {
    border-radius: 8px;
    background: var(--text-grey) !important;
    color: white;
}

.react-calendar__tile--hover {
    background-color: var(--text-grey) !important;
    border-radius: 8px;
}

.react-calendar__navigation__label {
    text-transform: capitalize;
}

.react-calendar__month-view__days {
    gap: 3px 1px;
    justify-content: space-around;
    padding-bottom: 6px;
}

.react-calendar__month-view__days__day {
    max-width: 13% !important;
}

.react-calendar__navigation__label:hover,
.react-calendar__navigation__arrow:hover {
    background-color: var(--text-grey) !important;
    border-radius: 8px;
}

.react-calendar__year-view__months__month {
    padding: 4px !important;
}

.react-calendar__tile--hasActive {
    border-radius: 8px;
    background-color: inherit !important;
    border: 1px solid var(--text-grey) !important;
}

.react-calendar__navigation>button {
    background: inherit !important;
}

.calendar__year-view__months__month {
    background-color: inherit !important;
}

.calendar__year-view__months__month>abbr {}

.react-calendar__year-view__months__month::before {
    content: "";
    display: block;
    padding: 6px;
    position: relative;
}

.react-calendar__century-view__decades__decade {
    padding: 4px !important;
}

.react-calendar__decade-view__years__year {
    padding: 4px !important;
}

.react-calendar__century-view__decades__decade::after {
    content: "";
    display: block;
    padding: 6px;
    position: relative;
}

.react-calendar__century-view__decades__decade::before {
    content: "";
    display: block;
    padding: 6px;
    position: relative;
}

.react-calendar__year-view__months__month::after {
    content: "";
    display: block;
    padding: 6px;
    position: relative;
}

.react-calendar__decade-view__years__year::before {
    content: "";
    display: block;
    padding: 6px;
    position: relative;
}

.react-calendar__decade-view__years__year::after {
    content: "";
    display: block;
    padding: 6px;
    position: relative;
}